<div class="main" style="position: relative;">

    <header style="position: sticky;top: 0%; z-index:2">
        <app-navbar (toggle)="sidebartoggle()" class="position-sticky "></app-navbar>
    </header>
    
    <mat-drawer-container class="example-container" hasBackdrop="true" style="min-height :800px; background-color: rgb(1, 1, 57);">
        <mat-drawer [opened]="sidebar" mode="over" >
            <app-sidebar (toggle)="sidebartoggle()"></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet (toggle)="navbarcollapse()"></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    <app-footer></app-footer>
</div>